body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf6f9;
    color: #001219;
}
h1{
    color:#043842;
}
h2{
    color:#035d6e;
}
h3{
    color:#ae2012;
}

ul{
    color:#ae2012;
}